<html>
    <body>
        <form action="/update" method="GET">
            <table style="width: 80;">
                <tr>
                    <th>Restaurant Name: </th>
                    <th>Borough: </th>
                    <th>Photo: </th>
                    <th>Address: </th>
                </tr>
            </table>
            Street: <input name="AddressStreet" value=<%=  %>> <br>
            Building: <input name="AddressBuilding" value=<%=  %>> <br>
            Zipcode: <input name="AddressZipcode" value=<%=  %>><br>
            Coordinate: <input name="AddressCoor" value=<%=  %>><br> 
        </form>
        <p><a href="/">home</a></p>
    </body>
</html>